Artigos/
Matlab/discrim/@lda
Matlab/discrim/@classifier
Matlab/discrim/@logda
Matlab/discrim/@softmax
Matlab/discrim/@qda
Matlab/discrim/crossval.m
Matlab/discrim/Contents.m
Matlab/discrim/README
Matlab/discrim/crossval.m
Matlab/discrim/mcnemar.m
Matlab/discrim/octave-workspace
Matlab/discrim/mcnemar.m
Matlab/discrim/parseopt.m
Matlab/discrim/plotdr.m
Matlab/discrim/plotbs.m
Matlab/discrim/matrix.csv
Matlab/discrim/Brodatz
Matlab/discrim/confmat.m
