Artigos/
Matlab/discrim/@classifier
Matlab/discrim/@lda
Matlab/discrim/@logda  
Matlab/discrim/@qda
Matlab/discrim/@softmax
Matlab/discrim/mcnemar.m
Matlab/discrim/mahalanobis.m
Matlab/discrim/plotdr.m
Matlab/discrim/plotobs.m
Matlab/discrim/README
Matlab/discrim/parseopt.m
Matlab/discrim/confmat.m
Matlab/discrim/Contents.m
Matlab/discrim/crossval.m

